<div *ngIf="forecasts" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Day
            </th>
            <th>
              Conditions
            </th>
            <th>
              High Temp
            </th>
            <th>
              Low Temp
            </th>
            <th>
              Wind
            </th>
            <th>
              Humidity
            </th>
          </tr>
        </thead>
        <!-- <thead id="iconsForCurrentWeather">
          <tr>
            <td>
              
            </td>
            <td>
              icon
            </td>
            <td>
              icon
            </td>
            <td>
              icon
            </td>
            <td>
              icon
            </td>
            <td>
              icon
            </td>
          </tr>
        </thead> -->
          <thead id="currentWeather">
            
          <tr>
            <td>
              Today
            </td>
            <td>
              Currently {{forecasts[0].currentTemp}}
              <br>
              {{forecasts[0].conditions}}
            </td>
            <td>
              <i class="material-icons">wb_sunny</i>
              <br>
              {{forecasts[0].high}}
            </td>
            <td>
              <i class="material-icons">wb_cloudy</i>
              <br>
              {{forecasts[0].low}}
            </td>
            <td>
              <i class="material-icons">wb_sunny</i>
              <br>
              {{forecasts[0].wind}}
            </td>
            <td>
              <i class="material-icons">wb_cloudy</i>
              {{forecasts[0].humidity}}
            </td>
          </tr>
          </thead>
        
        <thead>
          <tbody>
          <tr class="table-active">
            <td>
              {{forecasts[1].day[1]}}
            </td>
            <td>
              {{forecasts[1].avgCondition}}
            </td>
            <td>
              {{forecasts[1].high}}
            </td>
            <td>
              {{forecasts[1].low}}
            </td>
            <td>
              {{forecasts[1].avgWind}}
            </td>
            <td>
              {{forecasts[1].avgHumidity}}
            </td>
          </tr>
          <tr class="table-success">
            <td>
              {{forecasts[2].day[2]}}
            </td>
            <td>
              {{forecasts[2].avgCondition}}
            </td>
            <td>
              {{forecasts[2].high}}
            </td>
            <td>
              {{forecasts[2].low}}
            </td>
            <td>
              {{forecasts[2].avgWind}}
            </td>
            <td>
              {{forecasts[2].avgHumidity}}
            </td>
          </tr>
          <tr class="table-warning">
            <td>
              {{forecasts[3].day[3]}}
            </td>
            <td>
              {{forecasts[3].avgCondition}}
            </td>
            <td>
              {{forecasts[3].high}}
            </td>
            <td>
              {{forecasts[3].low}}
            </td>
            <td>
              {{forecasts[3].avgWind}}
            </td>
            <td>
              {{forecasts[3].avgHumidity}}
            </td>
          </tr>
          <tr class="table-danger">
            <td>
              {{forecasts[4].day[4]}}
            </td>
            <td>
              {{forecasts[4].avgCondition}}
            </td>
            <td>
              {{forecasts[4].high}}
            </td>
            <td>
              {{forecasts[4].low}}
            </td>
            <td>
              {{forecasts[4].avgWind}}
            </td>
            <td>
              {{forecasts[4].avgHumidity}}
            </td>
          </tr>
          <tr class="table-success">
            <td>
              {{forecasts[5].day[5]}}
            </td>
            <td>
              {{forecasts[5].avgCondition}}
            </td>
            <td>
              {{forecasts[5].high}}
            </td>
            <td>
              {{forecasts[5].low}}
            </td>
            <td>
              {{forecasts[5].avgWind}}
            </td>
            <td>
              {{forecasts[5].avgHumidity}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>