#currentWeather {
  line-height: 60px;
   min-height: 35px;
   height: 35px;
} 
#today {
  font-size: 27px;
} 

th{
  color: gray;
} 

.material-icons { 
    font-size: 15px; 
}

.forecastToday {
  background-color: rgb(211, 213, 214);
}

.forecastTable {
  background-color: rgb(162, 193, 206);
}
.forecastTable2 {
  background-color: rgb(151, 181, 194);
}
.forecastTable3 {
  background-color: rgb(133, 160, 172);
}
.forecastTable4 {
  background-color: rgb(116, 139, 149);
}
.forecastTable5 {
  background-color: rgb(101, 122, 131);
}