<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Day
            </th>
            <th>
              Conditions
            </th>
            <th>
              High/Low
            </th>
            <th>
              Precip
            </th>
            <th>
              Wind
            </th>
            <th>
              Humidity
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{forecasts[0].day | json}}
            </td>
            <td>
              {{forecasts[0].conditions | json}}
            </td>
            <td>
              {{forecasts[0].high | json}}
            </td>
            <td>
              {{forecasts[0].low | json}}
            </td>
            <td>
              {{forecasts[0].precip | json}}
            </td>
            <td>
              {{forecasts[0].humidity | json}}
            </td>
          </tr>
          <tr class="table-active">
            <td>
              {{forecasts[1].day | json}}
            </td>
            <td>
              {{forecasts[1].conditions | json}}
            </td>
            <td>
              {{forecasts[1].high | json}}
            </td>
            <td>
              {{forecasts[1].low | json}}
            </td>
            <td>
              {{forecasts[1].precip | json}}
            </td>
            <td>
              {{forecasts[1].humidity | json}}
            </td>
          </tr>
          <tr class="table-success">
            <td>
              {{forecasts[2].day | json}}
            </td>
            <td>
              {{forecasts[2].conditions | json}}
            </td>
            <td>
              {{forecasts[2].high | json}}
            </td>
            <td>
              {{forecasts[2].low | json}}
            </td>
            <td>
              {{forecasts[2].precip | json}}
            </td>
            <td>
              {{forecasts[2].humidity | json}}
            </td>
          </tr>
          <tr class="table-warning">
            <td>
              {{forecasts[3].day | json}}
            </td>
            <td>
              {{forecasts[3].conditions | json}}
            </td>
            <td>
              {{forecasts[3].high | json}}
            </td>
            <td>
              {{forecasts[3].low | json}}
            </td>
            <td>
              {{forecasts[3].precip | json}}
            </td>
            <td>
              {{forecasts[3].humidity | json}}
            </td>
          </tr>
          <tr class="table-danger">
            <td>
              {{forecasts[4].day | json}}
            </td>
            <td>
              {{forecasts[4].conditions | json}}
            </td>
            <td>
              {{forecasts[4].high | json}}
            </td>
            <td>
              {{forecasts[4].low | json}}
            </td>
            <td>
              {{forecasts[4].precip | json}}
            </td>
            <td>
              {{forecasts[4].humidity | json}}
            </td>
          </tr>
          <tr class="table-success">
            <td>
              {{forecasts[5].day | json}}
            </td>
            <td>
              {{forecasts[5].conditions | json}}
            </td>
            <td>
              {{forecasts[5].high | json}}
            </td>
            <td>
              {{forecasts[5].low | json}}
            </td>
            <td>
              {{forecasts[5].precip | json}}
            </td>
            <td>
              {{forecasts[5].humidity | json}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>